body {
  padding: 0;
  margin: 0;
  background-color: #070410
}

button {
  border-radius: 10px;
  padding: 16px;
  border-color: #eef36a;
  background-color: #eef36a;
  color: #070410
}

button, h1 {
  font-family: "Teko", sans-serif;
} 

button:hover {
  background-color: #eef36aaf;
}
p {
  font-family: "Lato", sans-serif;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #070410;
    background-color: #231651;
}

.nav-header h1, .nav-links a{
  color: #4dccbd
}

.nav-links a {
  text-decoration: none; 
}

.nav-links a:hover {
  background-color: #332171;
  border-radius: 5px;
}

.nav-header h1, button {
  font-size: 2em;
}
.nav-links {
  display: none;
  padding: 5px;
}

/* fixed */
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  margin: 0 auto 16px auto;
  max-width: 900px;
  box-sizing: border-box;
}

.movie-container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border: 1px solid #070410;
  background-color: #231651;
  /* box-shadow: 10px 10px #4dccbd; */
}

.movie-desc {
  padding: 16px;
}

.watch-btn {
  margin: auto auto 16px auto;
}

.movie-container p {
  font-size: 1.5em;
  margin: 0; 
  color: #ffffff;
}

.poster {
  border: 1px solid #070410;
  object-fit: cover; 
}

.poster img {
  display: block;
  width: 100%;
  height: 100%;
  justify-self: start;
}

@media screen and (min-width: 720px) {
  .nav-bar {
    margin-bottom: 32px;
    box-shadow: 10px 10px #4dccbd
  }

  .nav-header h1 {
    font-size: 3em;
  }

  .nav-links {
    display: flex;
    gap: 32px;
    margin: 0 32px;
  }

  .main-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 32px;
    gap: 32px;
    margin-bottom: 32px;
  }

  .movie-container {
    box-shadow: 10px 10px #4dccbd
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar {
    margin-bottom: 48px;
  }

  .nav-links {
    gap: 48px
  }

  .item1 {
    grid-area: item1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
      "poster poster"
      "movie-desc watch-btn"
  }

  .item2 {
    grid-area: item2;
  }

  .item3 {
    grid-area: item3;
  }

  .item1 .poster, .item4 .poster, .item5 .poster, .item6 .poster {
    grid-area: poster;
  }

  .item1 .movie-desc, .item4 .movie-desc, .item5 .movie-desc, .item6 .movie-desc {
    grid-area: movie-desc;
  }

  .item4 .watch-btn, .item5 .watch-btn, .item6 .watch-btn {
    grid-area: watch-btn;
  }

  .item1 .watch-btn {
    grid-area: watch-btn;
    margin: auto;
    padding-right: 16px;
  }

  .item4, .item5, .item6 {
    display: grid;
    grid-area: item4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "poster movie-desc"
      "poster watch-btn";
  }

  .item5 {
    grid-area: item5;
  }

  .item6 {
    grid-area: item6;
  }

  .main-content {
    grid-template-areas:
      "item1 item1"
      "item2 item3"
      "item4 item4"
      "item5 item5"
      "item6 item6";
    padding: 0 48px;
    gap: 48px;
  }
}